body{
	font-family: "Catamaran";
}

header{
	background-color: #fff;
}
footer{
	background-color: #30363d;
	color:#898989;
	padding: 20px 0;
	text-align: center;
	font-size: 13px;
}

.titulo{
	font-size: 90px;
}

#slides p{
	padding-bottom: 30px;
}

.nav-item{
	padding-right: 30px;
	font-size: 13px;
}

#intro{
	padding-bottom: 100px;
	padding-top: 50px;
}
#intro h1{
	font-size: 17px;
	padding-top: 20px;
}

#intro p{
	color:#989898;
	font-size: 12px;
}

#services h1{
	font-size: 17px;
}

#services p{
	color:#989898;
	font-size: 12px;
}

#cta{
	background-image: url("../img/home-grid-banner.jpg");
	padding: 40px;
}

#cta h1{
	color: #FFFFFF;
	font-size: 50px;
}

#cta p{
	color:#FFFFFF; 
}

#clients{
	padding: 40px 0px;
}